@import "tailwindcss";

/* prefers-reduced-motion対応 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 10ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 10ms !important;
    scroll-behavior: auto !important;
  }
}
